<div class="" data-ng-controller="EditElementVariationController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Edit element variation '{{name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-20">Name</th>
                    <th class="width-20">Price</th>
                    <th class="width-15">Status</th>
                    <th class="width-15">Shown by default</th>
                    <th class="width-30">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success table-font" ng-if="saved">
                        Element variation '{{saved.name}}' changed successfully.
                        Would you like to return back to element variations list?
                        <a class="btn btn-success active categories-button"
                           href="categories/{{category_id}}/{{product_id}}/{{elementVariation.element_id}}" ng-if="saved">
                            Yes
                        </a>
                    </div>
                </tr>
                <tr>
                    <td class="td-center"><input id="txt-input-name" class="form-control input-name" ng-model="elementVariation.name"></td>

                    <td class="td-center"><input id="price" class="form-control" ng-model="elementVariation.price"></td>
                    <td class="published td-center" data-ng-if="elementVariation.status=='published'">
                        <label>
                            <input type="checkbox" checked ng-click="unpublish(elementVariation)"> {{elementVariation.status}}
                        </label>
                    </td>
                    <td class="unpublished td-center" data-ng-if="elementVariation.status=='unpublished'">
                        <label>
                            <input id = "{{elementVariation.name}}-publish" type="checkbox" ng-click="publish(elementVariation)"> {{elementVariation.status}}
                        </label>
                    </td>
                    <td class="published td-center" data-ng-if="elementVariation.shown_by_default=='shown'">
                        <label>
                            <input type="radio" checked ng-click="hidden(elementVariation)"> {{elementVariation.shown_by_default}}
                        </label>
                    </td>
                    <td class="unpublished td-center" data-ng-if="elementVariation.shown_by_default=='hidden'">
                        <label>
                            <input type="radio" ng-click="shown(elementVariation)"> {{elementVariation.shown_by_default}}
                        </label>
                    </td>
                    <td class="td-center">
                        <textarea id = "description" class="form-control input-name width-100" ng-model="elementVariation.description">
                            {{elementVariation.description}}
                        </textarea>
                    </td>
                </tr>
                </tbody>

            </table>
            <table class="table table-font second-table">
                <thead>
                <tr>
                    <th>Icon</th>
                    <th></th>
                    <th>Picture</th>
                    <th></th>
                    <th class="width-10"></th>
                    <th class="width-10"></th>
                </tr>
                </thead>
                <tbody>
                <td><img ng-src="{{elementVariation.icon}}" alt="No icon" width="100px"></td>
                <td>
                    <form>
                        <input id="upload-file" class="btn btn-sm" multiple="multiple" name="upload" type="file"
                               accept=".png" file-model="fileForm.fileData"/>
                    </form>
                </td>
                <td>
                    <img ng-src="{{elementVariation.picture}}" alt="No picture" width="100px"></td>
                <td>
                    <form>
                        <input id="upload-picture" class="btn btn-sm" multiple="multiple" name="upload" type="file"
                               accept=".png" file-model="pictureForm.fileData"/>
                    </form>
                </td>
                <td>
                    <button id="elVariation-save" class="btn btn-primary active categories-button edit-btn edit-variation-btn" ng-click="saveElementVariation()">
                        Save
                    </button>
                </td>
                <td>
                    <a id="elVariation-cancel" class="btn btn-danger active categories-button edit-btn edit-variation-btn"
                       href="categories/{{category_id}}/{{product_id}}/{{elementVariation.element_id}}">
                        Cancel
                    </a>
                </td>
                </tbody>
            </table>
            <div class="table-font">
                Picture: <img class="big-pic" ng-src="{{elementVariation.picture}}" alt="No picture">
            </div>
        </div>
    </div>
</div>
